@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --NavHeight     : 5rem;
    // White: hsl(0, 0%, 100%)
    --hs-1 : 0, 0%;
    --white-1 : hsl(var(--hs-1), 87%);
    --white-2 : hsl(var(--hs-1), 53%);
    --white-3 : hsl(var(--hs-1), 33%);
    --white-4 : hsl(var(--hs-1), 5%);
    --white-5 : hsl(var(--hs-1), 100%);
    --white-6 : hsla(var(--hs-1), 10%, .75);
    --white-7 : hsl(var(--hs-1), 10%);
    --white-8 : hsla(var(--hs-1), 0%, .75);
    // Dark Blue Grey: hsl(220, 13%, 18%)
    --hue-1      : 220;
    --darkblue-1 : hsl(var(--hue-1), 13%, 12%);
    // Green: hsl(93, 98%, 35%)
    --hue-2   : 93;
    --green-1 : hsl(var(--hue-2), 98%, 30%);
    --green-2 : hsl(var(--hue-2), 98%, 35%);
    --green-3 : hsl(var(--hue-2), 40%, 75%);
    --green-4 : hsl(var(--hue-2), 60%, 20%);
    --green-5 : hsl(var(--hue-2), 40%, 65%);
    // Light Red
    --hue-3 : 349;
    --red-1 : hsl(var(--hue-3), 84%, 65%);
    --red-2 : hsl(var(--hue-3), 40%, 75%);
    --red-3 : hsl(var(--hue-3), 60%, 20%);
    --red-4 : hsl(var(--hue-3), 40%, 65%);
}
html {
    background-color: var(--darkblue-1);
    height: 100%;
    scroll-behavior: smooth;
    font-size: 46.875%; /* 1rem = 7.5px */

    @media only screen and (min-width: 900px) {
        font-size: 62.5%; /* 1rem = 10px */
    }
    @media only screen and (min-width: 1800px) {
        font-size: 78.125%; /* 1rem = 12.5px */
    }
    @media only screen and (min-width: 2700px) {
        font-size: 93.75%; /* 1rem = 15px */
    }
}
body {
    height: 100%;
    box-sizing: border-box;
    color: var(--white-1);
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1rem;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
    letter-spacing: inherit;
}
*:focus {
    outline: none;
}
::-webkit-scrollbar {
    width: 15px;
    height: 15px;

    &-track, &-corner {
        background: var(--white-4);
    }
    &-thumb {
        background: var(--white-2);
        border-radius: 9px;
        border: 3px solid var(--white-4);

        &:hover {
            background: var(--white-3); 
        }
    }
}