rwc-modal form {
    div {
        margin-top: 2.8rem;

        &:first-child {
            margin-top: 1.6rem;
        }
    }
    container-rui {
        content-rui {
            row-rui {
                margin-top: 2.8rem;
                display: flex;

                *:not(:last-child) {
                    margin-right: .5rem;
                }
                div {
                    margin-top: 0;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
        footer-rui {
            padding: 1rem 0;

            .add-btn {
                background: none;
                border: none;
                color: hsl(122, 39%, 75%);
                font-size: 1.3rem;
                font-weight: 500;
                padding: .5rem 1rem;
                cursor: pointer;
                border-radius: .4rem;
                transition: .2s;
    
                &:hover,
                &:focus {
                    background-color: hsla(122, 39%, 49%, .25);
                }
            }
        }
    }
    .reset-submit {
        display: flex;
        justify-content: space-between;

        button {
            background: none;
            border: .1rem solid currentColor;
            font-size: 1.8rem;
            font-weight: 600;
            padding: .9rem 3.6rem;
            cursor: pointer;
            border-radius: .4rem;
            transition: .2s;

            &.red {
                color: var(--red-1);

                &:hover,
                &:focus {
                    color: initial;
                    background-color: var(--red-1);
                }
            }
            &.green {
                color: var(--green-2);

                &:hover,
                &:focus {
                    color: initial;
                    background-color: var(--green-2);
                }
            }
            &:disabled {
                cursor: default;
                pointer-events: none;
                opacity: .5;
            }
        }
    }
}