@import url(../vendors/all.min.css);
@import url(../vendors/rui/rui-checkbox.min.css);
@import url(../vendors/rui/rui-switch.min.css);
@import url(../vendors/rui/rui-input.min.css);
@import url(../vendors/rui/rui-select.min.css);
@import url(../vendors/rui/rui-textarea.min.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --NavHeight: 5rem;
  --hs-1: 0, 0%;
  --white-1: hsl(var(--hs-1), 87%);
  --white-2: hsl(var(--hs-1), 53%);
  --white-3: hsl(var(--hs-1), 33%);
  --white-4: hsl(var(--hs-1), 5%);
  --white-5: hsl(var(--hs-1), 100%);
  --white-6: hsla(var(--hs-1), 10%, .75);
  --white-7: hsl(var(--hs-1), 10%);
  --white-8: hsla(var(--hs-1), 0%, .75);
  --hue-1: 220;
  --darkblue-1: hsl(var(--hue-1), 13%, 12%);
  --hue-2: 93;
  --green-1: hsl(var(--hue-2), 98%, 30%);
  --green-2: hsl(var(--hue-2), 98%, 35%);
  --hue-3: 349;
  --red-1: hsl(var(--hue-3), 84%, 65%);
}

html {
  background-color: var(--darkblue-1);
  height: 100%;
  scroll-behavior: smooth;
  font-size: 46.875%; /* 1rem = 7.5px */
}
@media only screen and (min-width: 900px) {
  html {
    font-size: 62.5%; /* 1rem = 10px */
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 78.125%; /* 1rem = 12.5px */
  }
}
@media only screen and (min-width: 2700px) {
  html {
    font-size: 93.75%; /* 1rem = 15px */
  }
}

body {
  height: 100%;
  box-sizing: border-box;
  color: var(--white-1);
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  letter-spacing: inherit;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: var(--white-4);
}
::-webkit-scrollbar-thumb {
  background: var(--white-2);
  border-radius: 9px;
  border: 3px solid var(--white-4);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--white-3);
}

header.header {
  height: var(--NavHeight);
  background-color: var(--green-1);
  display: flex;
  justify-content: space-between;
}
header.header .logo {
  line-height: var(--NavHeight);
  padding: 0 1.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
header.header .links {
  list-style-type: none;
  display: flex;
}
header.header .links li {
  padding-right: 1.2rem;
  line-height: var(--NavHeight);
}
header.header .links li a {
  text-decoration: none;
  color: inherit;
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid transparent;
  transition: 0.2s;
}
header.header .links li a:hover, header.header .links li a:focus {
  border-color: currentColor;
}
@media only screen and (min-width: 400px) {
  header.header .logo {
    padding: 0 2.4rem;
  }
  header.header .links li {
    padding-right: 2.4rem;
  }
}

.section {
  height: 100vh;
  padding: 0 1.2rem 1.2rem 1.2rem;
}
.section:not(#products) {
  border-bottom: 0.2rem solid currentColor;
}
.section .heading {
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 1rem 0;
}
.section [data-grid] {
  height: calc(100% - 5.5rem);
}
@media only screen and (min-width: 400px) {
  .section {
    padding: 0 2.4rem 2.4rem 2.4rem;
  }
}

rwc-modal form {
  --green: hsl(122, 39%, 75%);
  --green-hover: hsla(122, 39%, 49%, .25);
  --grey-hover: hsla(0, 0%, 100%, .125);
}
rwc-modal form div {
  margin-top: 2.8rem;
}
rwc-modal form div:first-child {
  margin-top: 1.6rem;
}
rwc-modal form div.row {
  display: flex;
  justify-content: space-between;
}
rwc-modal form div.row *:not(:last-child) {
  margin-right: 0.5rem;
}
rwc-modal form div.row div {
  margin-top: 0;
}
rwc-modal form container-rui content-rui row-rui {
  margin-top: 2.8rem;
  display: flex;
}
rwc-modal form container-rui content-rui row-rui *:not(:last-child) {
  margin-right: 0.5rem;
}
rwc-modal form container-rui content-rui row-rui div {
  margin-top: 0;
}
rwc-modal form container-rui content-rui row-rui div:first-child {
  margin-top: 0;
}
rwc-modal form container-rui content-rui row-rui div.delete-row {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0.4rem 0.16rem 0;
}
rwc-modal form container-rui content-rui row-rui div.delete-row button {
  background: none;
  border: none;
  color: inherit;
  width: 3rem;
  height: 3rem;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
}
rwc-modal form container-rui content-rui row-rui div.delete-row button:hover, rwc-modal form container-rui content-rui row-rui div.delete-row button:focus {
  background-color: var(--grey-hover);
}
rwc-modal form container-rui content-rui row-rui div.delete-row.hidden {
  display: none;
}
rwc-modal form container-rui content-rui row-rui div.mx-width {
  max-width: 8.2rem;
}
rwc-modal form container-rui footer-rui {
  padding: 1rem 0;
  align-items: center;
}
rwc-modal form container-rui footer-rui .add-btn {
  background: none;
  border: none;
  color: var(--green);
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.4rem;
  transition: 0.2s;
}
rwc-modal form container-rui footer-rui .add-btn:hover, rwc-modal form container-rui footer-rui .add-btn:focus {
  background-color: var(--green-hover);
}
rwc-modal form .reset-submit {
  display: flex;
  justify-content: space-between;
}
rwc-modal form .reset-submit button {
  background: none;
  border: 0.1rem solid currentColor;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0.9rem 3.6rem;
  cursor: pointer;
  border-radius: 0.4rem;
  transition: 0.2s;
}
rwc-modal form .reset-submit button.red {
  color: var(--red-1);
}
rwc-modal form .reset-submit button.red:hover, rwc-modal form .reset-submit button.red:focus {
  color: initial;
  background-color: var(--red-1);
}
rwc-modal form .reset-submit button.green {
  color: var(--green-2);
}
rwc-modal form .reset-submit button.green:hover, rwc-modal form .reset-submit button.green:focus {
  color: initial;
  background-color: var(--green-2);
}
rwc-modal form .reset-submit button:disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.5;
}

datagrid-rui {
  --Toolbar-Height: 4rem;
  --Footer-Height: 6rem;
  --Row-Height: 5rem;
  --Resizable-Width: 24px;
  --hs-1: 0, 0%;
  --grey: hsl(var(--hs-1), 35%);
  --grey-md: hsl(var(--hs-1), 14%);
  --grey-dark: hsl(var(--hs-1), 7%);
  --white: hsl(var(--hs-1), 100%);
  --btn-hover: hsla(var(--hs-1), 100%, .125);
  --row-hover: hsla(var(--hs-1), 100%, .08);
  --hue-1: 349;
  --red-1: hsla(var(--hue-1), 84%, 60%, .25);
  --red-2: hsl(var(--hue-1), 84%, 80%);
  --red-3: hsl(var(--hue-1), 84%, 70%);
  --hue-2: 122;
  --green-1: hsla(var(--hue-2), 39%, 49%, .25);
  --green-2: hsl(var(--hue-2), 39%, 75%);
  --hue-3: 207;
  --blue-1: hsl(var(--hue-3), 90%, 77%);
  --row-select: hsla(var(--hue-3), 90%, 77%, .16);
  --row-select-hover: hsla(var(--hue-3), 90%, 77%, .24);
  display: block;
  height: 100%;
  border: 0.1rem solid var(--grey);
  border-radius: 0.5rem;
}

toolbar-rui {
  display: flex;
  height: var(--Toolbar-Height);
  padding: 0.5rem;
  border-bottom: 0.1rem solid var(--grey);
}
toolbar-rui .toolbar-btn, toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.sorts panel-footer-rui .panel-btn, toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.filters panel-footer-rui .panel-btn, toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.columns panel-footer-rui .panel-btn {
  background: none;
  border: none;
  color: inherit;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.4rem;
  transition: 0.2s;
}
toolbar-rui toolbar-panel-container-rui {
  display: block;
  position: relative;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui {
  position: absolute;
  top: 3.5rem;
  border-radius: 0.4rem;
  background-color: var(--grey-md);
  box-shadow: 0 0.5rem 0.5rem -0.3rem rgba(0, 0, 0, 0.2), 0 0.8rem 1rem 0.1rem rgba(0, 0, 0, 0.14), 0 0.3rem 1.4rem 0.2rem rgba(0, 0, 0, 0.12);
  z-index: 5;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.sorts panel-header-rui, toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.columns panel-header-rui {
  display: block;
  padding: 0.8rem;
  padding-top: 2.4rem;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.sorts panel-content-rui, toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.filters panel-content-rui {
  display: block;
  max-height: 40rem;
  overflow: auto;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.sorts panel-footer-rui, toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.filters panel-footer-rui, toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.columns panel-footer-rui {
  display: flex;
  justify-content: space-between;
  height: 4.2rem;
  padding: 0.4rem;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.sorts panel-footer-rui .panel-btn, toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.filters panel-footer-rui .panel-btn, toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.columns panel-footer-rui .panel-btn {
  color: var(--blue-1);
  font-weight: 500;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.sorts panel-footer-rui .panel-btn:hover, toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.filters panel-footer-rui .panel-btn:hover, toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.columns panel-footer-rui .panel-btn:hover, toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.sorts panel-footer-rui .panel-btn:focus, toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.filters panel-footer-rui .panel-btn:focus, toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.columns panel-footer-rui .panel-btn:focus {
  background-color: var(--row-select);
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.columns {
  left: -0.5rem;
  width: 30rem;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.columns panel-content-rui {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  max-height: 32rem;
  padding: 0.8rem 0px 0.8rem 0.8rem;
  overflow: auto;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.columns panel-content-rui label[data-switch-container].hide {
  display: none;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.columns panel-content-rui label[data-switch-container]:hover {
  background-color: var(--row-hover);
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.filters {
  left: -10.9rem;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.filters panel-content-rui row-rui {
  display: flex;
  padding: 0.8rem;
  padding-top: 2.4rem;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.filters panel-content-rui row-rui [delete-row] {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0.4rem 0.16rem 0;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.filters panel-content-rui row-rui [delete-row] button {
  background: none;
  border: none;
  color: inherit;
  width: 3rem;
  height: 3rem;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.filters panel-content-rui row-rui [delete-row] button:hover, toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.filters panel-content-rui row-rui [delete-row] button:focus {
  background-color: var(--btn-hover);
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.filters panel-content-rui row-rui .mr-_5 {
  margin-right: 0.5rem;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.filters panel-content-rui row-rui .hidden {
  display: none;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.filters panel-content-rui row-rui .invisible {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.filters panel-content-rui row-rui .w8 {
  width: 8rem;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.filters panel-content-rui row-rui .w14 {
  width: 14rem;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.filters panel-content-rui row-rui .w17 {
  width: 17rem;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.filters panel-content-rui row-rui .w18 {
  width: 18rem;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.sorts {
  left: -19.2rem;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.sorts panel-content-rui row-rui {
  display: flex;
  padding: 2.4rem 0.8rem 0.8rem 1.6rem;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.sorts panel-content-rui row-rui.hide {
  display: none;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.sorts panel-content-rui row-rui .mr-_5 {
  margin-right: 0.5rem;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.sorts panel-content-rui row-rui [data-order] {
  width: 7rem;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.sorts panel-content-rui row-rui [data-column] {
  line-height: 3.9rem;
  width: 12rem;
  border-bottom: 0.1rem solid currentColor;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.sorts panel-content-rui row-rui .w12 {
  width: 12rem;
}
toolbar-rui toolbar-panel-container-rui toolbar-panel-rui.hide {
  display: none;
}
toolbar-rui .toolbar-btn {
  position: relative;
}
toolbar-rui .toolbar-btn:hover, toolbar-rui .toolbar-btn:focus {
  background-color: var(--btn-hover);
}
toolbar-rui .toolbar-btn.new {
  color: var(--green-2);
}
toolbar-rui .toolbar-btn.new:hover, toolbar-rui .toolbar-btn.new:focus {
  background-color: var(--green-1);
}
toolbar-rui .toolbar-btn.del {
  color: var(--red-2);
}
toolbar-rui .toolbar-btn.del:hover, toolbar-rui .toolbar-btn.del:focus {
  background-color: var(--red-1);
}
toolbar-rui .toolbar-btn indicator-rui {
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--blue-1);
  z-index: 1;
}
toolbar-rui .toolbar-btn indicator-rui.hide {
  display: none;
}

main-rui {
  display: block;
  height: calc(100% - var(--Toolbar-Height) - var(--Footer-Height));
  font-size: 1.4rem;
}
main-rui headings-container-rui {
  display: block;
  height: calc(var(--Row-Height) + 0.1rem);
  border-bottom: 0.1rem solid var(--grey);
  overflow: hidden;
}
main-rui headings-container-rui headings-rui {
  display: flex;
  height: 100%;
  font-weight: 500;
}
main-rui headings-container-rui headings-rui hcol-rui {
  position: relative;
  display: block;
  height: 100%;
}
main-rui headings-container-rui headings-rui hcol-rui.hide {
  display: none;
}
main-rui headings-container-rui headings-rui hcol-rui:first-child {
  border-right: 0.1rem solid var(--row-hover);
}
main-rui headings-container-rui headings-rui hcol-rui heading-title-rui {
  display: block;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: var(--Row-Height);
  padding: 0 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main-rui headings-container-rui headings-rui hcol-rui resizable-rui {
  position: absolute;
  top: 0;
  right: calc(-1 * var(--Resizable-Width) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--Resizable-Width);
  height: 100%;
  z-index: 1;
  cursor: col-resize;
  touch-action: none;
}
main-rui headings-container-rui headings-rui hcol-rui resizable-rui resizable-icon-rui {
  display: block;
  width: 2px;
  height: 1.4rem;
  background-color: var(--grey);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main-rui headings-container-rui headings-rui hcol-rui resizable-rui:hover resizable-icon-rui, main-rui headings-container-rui headings-rui hcol-rui resizable-rui.active resizable-icon-rui {
  background-color: var(--white);
}
main-rui rows-container-rui {
  display: block;
  height: calc(100% - var(--Row-Height));
  overflow: auto;
}
main-rui rows-container-rui row-rui {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: calc(var(--Row-Height) + 0.1rem);
  transition: background-color 0.1s;
}
main-rui rows-container-rui row-rui:hover {
  background-color: var(--row-hover);
}
main-rui rows-container-rui row-rui.selected {
  background-color: var(--row-select);
}
main-rui rows-container-rui row-rui.selected:hover {
  background-color: var(--row-select-hover);
}
main-rui rows-container-rui row-rui:focus {
  outline: 0.1rem solid var(--blue-1);
  outline-offset: -0.1rem;
}
main-rui rows-container-rui row-rui col-rui,
main-rui rows-container-rui row-rui input,
main-rui rows-container-rui row-rui .image {
  display: block;
  height: 100%;
  line-height: var(--Row-Height);
  padding: 0 1rem;
  border: unset;
  background-color: unset;
  color: inherit;
  font-size: inherit;
  border-right: 0.1rem solid var(--row-hover);
  border-bottom: 0.1rem solid var(--grey);
}
main-rui rows-container-rui row-rui col-rui:focus,
main-rui rows-container-rui row-rui input:focus,
main-rui rows-container-rui row-rui .image:focus {
  outline: 0.1rem solid var(--blue-1);
  outline-offset: -0.1rem;
}
main-rui rows-container-rui row-rui col-rui:-moz-read-only, main-rui rows-container-rui row-rui input:-moz-read-only, main-rui rows-container-rui row-rui .image:-moz-read-only {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main-rui rows-container-rui row-rui col-rui:read-only,
main-rui rows-container-rui row-rui input:read-only,
main-rui rows-container-rui row-rui .image:read-only {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main-rui rows-container-rui row-rui col-rui.hide,
main-rui rows-container-rui row-rui input.hide,
main-rui rows-container-rui row-rui .image.hide {
  display: none;
}
main-rui rows-container-rui row-rui .image {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
main-rui rows-container-rui row-rui .image:-moz-read-only {
  overflow: unset;
}
main-rui rows-container-rui row-rui .image:read-only {
  overflow: unset;
}
main-rui rows-container-rui row-rui .image input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: -1;
}
main-rui rows-container-rui row-rui .image img {
  height: 100%;
  max-width: 100%;
  transform-origin: bottom;
  transition: 0.2s;
}
main-rui rows-container-rui row-rui .image img.top {
  transform-origin: top;
}
main-rui rows-container-rui row-rui .image button {
  background: none;
  border: none;
  font-size: 1.4rem;
  padding: 0 0.125em;
  font-weight: bold;
  background-color: var(--red-2);
  transition: background-color 0.2s;
  cursor: pointer;
}
main-rui rows-container-rui row-rui .image button:hover, main-rui rows-container-rui row-rui .image button:focus {
  background-color: var(--red-3);
}
main-rui rows-container-rui row-rui label:hover img,
main-rui rows-container-rui row-rui label:focus img {
  transform: scale(5);
}
main-rui .select-column {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 5rem;
  max-width: 5rem;
  text-align: center;
}

footer-rui {
  display: flex;
  justify-content: space-between;
  border-top: 0.1rem solid var(--grey);
  height: var(--Footer-Height);
  padding: 1rem 2rem;
  font-size: 1.4rem;
  line-height: 4rem;
}
footer-rui pagination-rui {
  display: flex;
}
footer-rui pagination-rui .rows-per-page {
  margin-right: 1rem;
}
footer-rui pagination-rui [data-select-container] {
  margin-right: 2rem;
}
footer-rui pagination-rui displayed-rows-rui {
  margin-right: 2rem;
}
footer-rui pagination-actions-rui button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
footer-rui pagination-actions-rui button:hover, footer-rui pagination-actions-rui button:focus {
  background-color: var(--btn-hover);
}
footer-rui pagination-actions-rui button:disabled {
  pointer-events: none;
  cursor: default;
  color: var(--grey);
}/*# sourceMappingURL=main.css.map */